<div class="creta-background">
  <header class="headerIndex">

    <h1 class="title1">CRETA</h1>
    <h3 class="title2">for Women</h3>




  </header>
  <nav class="login">
    <!--
    <input id="sign-in-reg" class="input-type mr-sm-2" type="email" placeholder="Email">
  
    <div class="form-group">
      <input id="password-reg" class="input-type mr-sm-2" type="password" placeholder="Contraseña">
      <small id="emailHelp" class="form-text text-muted">Nunca compartas tu contraseña</small>
      <section id="show">
      </section>
    </div>
  -->
    <section class="home-buttons">
      <button class="sign-in"><a href="#/registro" style="color: white">Registrarse</a></button>

      <button class="login" style="width: 100%;
    margin: 0px;" id="button-sign-in-reg">Iniciar Sesión</button>
    </section>


    <!--
    <button class="button-nav color-facebook" id="button-sign-in-facebook"><img src="assets/img/facebook-logo.png">
      Iniciar con Facebook </button>
    
    <button class="button-nav color-twitter" id="button-sign-in-google"><img src="assets/img/google.png"> Iniciar con
      Google</button>
      -->
  </nav>
</div>