<!DOCTYPE html>
<html lang= "en"> 
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> 
<body>

  <div class = "container">
  <div id="action-buttons">
      <a id  class ="btn-floating btn-large waves-effect waves-light mediumaquamarine" ><i class = "material-icons">import_export</i></a>
      <div class="divider"></div>
      <a class ="btn-floating btn-large waves-effect waves-light mediumaquamarine""><i class = "material-icons">swap_horiz</i></a>
      <div class="divider"></div>
      <a class="btn-floating btn-large waves-effect waves-light mediumaquamarine""><i class="material-icons">phone_iphone</i></a><br>
      <div id = "separator"></div>
      <div id = bottom-buttons>
          <a class = "btn-floating btn-large waves-effect waves-light mediumaquamarine""><i class = "material-icons">attach_money</i></a>
        <div class="divider"></div>
        <a class ="btn-floating btn-large waves-effect waves-light mediumaquamarine""><i class = "material-icons">star_border</i></a>
    
  </div>
</div>



<div class ="credit">
  <button id = "credit">Crédito Bancario</button>
</div>     
      
    
</body>
  </html>



      
 