<header>
    <nav class="nav justify-content-center" id="blockBar">
      <button class="navbar-toggler btn-avatar" data-toggle="collapse" data-target="#navbarMenu">
        <span id="avatar-user"></span>
      </button>
      <p class="cochinito-title"><b>COINK</b></p>
      <button id="signOut" style="color: white;
          border: none;
          background-color: #2ab4dc;
          margin-left: 20%;
          font-size: 8vw;"><i class="fas fa-sign-out-alt"></i></button>
  
      <div class="collapse navbar-collapse" id="navbarMenu">
  
        <!-- <ul class="navbar-nav" id="infoUser">
                  <br>
                  <li>Bienvenid@</li>
                  <li id="name-user"></li>
                  <p id="emailUser"></p><br>
              </ul> -->
        <div id="contenido"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <div id="showme">
  
            </div>
          </li>
        </ul>
    </nav>
  </header>
  
  <section class="color-white section-class" id="bienvenidas">
    <ul class="navbar-nav " id="infoUser">
      <br>
      <div class="display-inline">
        <p class="text-align display-inline bienvenida">¡Bienvenida</p>
        <p class="text-align name-user display-inline" id="name-user"></p>
      </div>
      <p class="text-align ocult" id="emailUser"></p><br>
      <p class="text-align acercando">Ahorrando la diferencia</p>
      <p class="text-align ahorrando">Acercandonos al futuro</p>
      <img class="puerquito" src="assets/img/ahorro.png" alt="" srcset="">
      <button type="button" class="btn color-login button-nav" data-toggle="modal" data-target="#exampleModal">Vincula tu
        tarjeta </button>
      <!-- <a class="color-login button-nav" href="#/registro">Vincula tu tarjeta</a> -->
      <div class="display-inline">
        <button class="boton-cal color-login" id="btn-cards"><b>Mis tarjetas </b></button>
        <button class="boton-cal color-login" id="btn-afore"><b>Afores</b></button>
  
  
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar tarjeta</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form data-toggle="validator display-inline" role="form" name="add-form">
                <p>NUMERO DE TARJETA</p>
                <input class="margin-input mr-sm-2 card-style " type="text" name="userId"
                  placeholder="XXXX XXXX XXXX XXXX">
                <p>TITULAR(NOMBRE EN LA TARJETA)</p>
                <input class="input-left margin-input mr-sm-2" type="text" name="userId" placeholder="Nombre">
                <input class="input-rigth margin-input mr-sm-2" type="text" name="userId" placeholder="Apellido">
                <p class="display-inline font-size">FECHA DE EXPIRACION</p>
                <p class="display-inline font-size">CODIGO DE SEGURIDAD</p>
                <input class="input-left margin-input mr-sm-2" type="text" name="userId" placeholder="MM/YY">
  
                <input class="input-rigth margin-input mr-sm-2" type="text" name="userId" placeholder="CVV">
  
                <p id="modal-invalid-email"></p>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Guardar tarjeta</button>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </section>
  
  <section id="directorio" >
      <p class="cochinito-title bienvenida-Afo">Directorio de AFORES</p>
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">PROFUTURO AFORE</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 715 55 55</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="http://www.profuturo.mx/content/wps/portal/Grupo-Profuturo/">www.profuturo.mx</a>   
        </div>
        <span class="logo"><img src="assets/img/afore-profuturo-gnp.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">AFORE SURA</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore"> 01 44 33 108 192</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.suramexico.com/home/">www.suramexico.com/afore</a>
        </div>
        <span class="logo"><img src="assets/img/afore-sura.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">CITIBANAMEX AFORE</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 282 36 73</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.aforebanamex.com.mx/">
          www.aforebanamex.com.mx</a>
        </div>
        <span class="logo"><img src="assets/img/afore-banamex.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">AFORE COPPEL</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 267 73 52</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.aforecoppel.com/"> www.aforecoppel.com</a>
        </div>
        <span class="logo"><img src="assets/img/afore-coppel.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">AFORE INBURSA</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 909 00 00 </p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.inbursa.com/Portal/?id_category=1">www.inbursa.com</a>
        </div>
        <span class="logo"><img src="assets/img/afore-inbursa.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">PENSIONISSSTE</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 400 10 00</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.gob.mx/pensionissste"> www.gob.mx/pensionissste</a>
        </div>
        <span class="logo"><img src="assets/img/afore-pensionissste.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
          <div class="contacto">
            <p class="text-afore"> AFORE AZTECA</p>
            <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
              <p class="text-afore">01 800 112 13 13</p>
            </div>
            <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.aforeazteca.com.mx/">
              www.aforeazteca.com.mx</a>
          </div>
          <span class="logo"><img src="assets/img/afore-azteca.jpg" class="afore-logo"></span>
        </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">AFORE XXI BANORTE</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 55 2000 1994</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.xxi-banorte.com/aforeXB/afore/index.aspx#!/">www.xxi-banorte.com</a>
        </div>
        <span class="logo"><img src="assets/img/afore-XXIbanorte.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">PRINCIPAL AFORE</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 277 46 24</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.principal.com.mx/es/">www.principal.com.mx</a>
        </div>
        <span class="logo"><img src="assets/img/afore-principal.jpg" class="afore-logo"></span>
      </div>
    
      <div class="container-pub">
        <div class="contacto">
          <p class="text-afore">INVERCAP AFORE</p>
          <div class="alinear-icono"><img class="iconos" src="assets/img/telefono.png">
            <p class="text-afore">01 800 522 23 67</p>
          </div>
          <img class="iconos" src="assets/img/global.png"><a class="text-afore" href="https://www.invercap.com.mx/home/Default.aspx">www.invercap.com.mx</a>
        </div>
        <span class="logo"><img src="assets/img/afore-invercap.jpg" class="afore-logo"></span>
      </div>
  
   
    
    </section>
  
    <div class="display-none display-cards" id="vista-cards">
        <h3 style="margin-left: 5%;
        font-size: 6vw;">Mis Tarjetas</h3>
        <img  class="display-inline" src="assets/img/tarjetas.png" alt="" srcset="">
        <button class="button-tarjeta">Eliminar tarjeta</button>
        
      </div>
      
    
  
    <footer>
  
        <div class="fixed-bottom">
          <a href="#bienvenidas" class="nav__item sin-hover" id="home"><img src="assets/img/edificio-variante-del-simbolo-inicio.png"></a>
          <a href="#directorio" class="nav__item sin-hover" class="text-secondary"><img src="assets/img/alcancia-simbolo-de-interfaz-para-la-economia.png"></a><!--  <button type="button" class="btn"></button>-->
          <a href="#new" class="nav__item sin-hover" id="Year"><img src="assets/img/servicio-al-cliente.png"></a>
        </div>
  
      </footer>