.nav-wrapper{
 padding-top: 10%;
 background-color: mediumaquamarine;
 color: white; 
 }

 .divider{
   width:20px;
   height:auto;
   display:inline-block;
}
#notification {
   color: black;
   border:none;
   background-color: white; 
   margin-left: 20%;
   font-size: 8vw;  
}

#chat{
  color: black;
  border: none; 
  background-color: white;
  margin-left: 2%;
  font-size: 8vw;
}

#action-buttons{
   padding-top: 60%;
   margin-left: 14%;
  
}



#separator{
padding-bottom: 15%;

}

#bottom-buttons{
   margin-left: 14%;
}


#credit{
   margin-top: 40%;
   margin-left: 17%;
   background-color: mediumaquamarine;
   color: white;
   border: 2em;
   font-size: 8vw;
}
